# -*- coding: Shift_JIS -*-
#
# グローバル設定ファイル
#
# お好みで設定を変えたあと "global.ini" という名前で保存してください.
#
# ここで設定するのは全プログラム共通のデフォルトのオプションです.
# 書かれた設定は, それぞれのプログラムの設定ファイルによって上書きされます.
#

#------------------------#
# データベース関連の設定 #
#------------------------#
[database]

# ホスト名
host = localhost

# ポート
port = 3306

# データベース名
db = n2rs

# ユーザー名
user = n2rsdb

# パスワード
passwd = n2rsdb

#----------------#
# ログ関連の設定 #
#----------------#
[logging]

# ログディレクトリ名（空にするとスクリプトがあるディレクトリ）
#     ログを出力する先のディレクトリ（フォルダ）を指定する
directory = logs

# ログに記録する1行のフォーマット
#     Python の logging.Formatter (下記URL参照)によって置換される
#     http://www.python.jp/doc/release/lib/node343.html
format = %(asctime)s %(levelname)-8s %(message)s

# ログに記録する日付のフォーマット
#     Python の strftime (下記URL参照)によって置換される.
#     http://www.python.jp/doc/release/lib/module-time.html#l2h-1915
dateformat = %y/%m/%d %H:%M:%S

# ログに記録するレベル (critical > error > warning > info > debug)
#     指定したレベルかそれよりも大きいレベルのログのみ記録される.
#     コンソールに表示されるログも同じレベルが使われる.
level = info

# ログファイルの最大サイズ (バイト単位)
#     最大サイズを超えると, 現在のログファイルは自動的にバックアップされて
#     新しいログファイルが作られる. 0 や空にした場合は制限なし.
#     バックアップは, ファイル名の最後に '.1' が付いたものになる.
#     もし既に '.1' のバックアップが存在していたら, そのバックアップは
#     '.2' がついたものにリネームされる. 以降, 同じように数字がずれる.
maxsize = 1048576

# ログファイルの最大バックアップ数
#     ログファイルの最大サイズを指定した場合, 末尾に数字のついたバックアップが
#     作成されるが, この作成されるバックアップの最大数を決める.
#     0 または空にした場合, バックアップは作成されず, ログが最大サイズを超えると
#     今までのログは削除される.
maxbackup = 5
