# -*- coding: Shift_JIS -*-
#
# LiveAlive2 設定ファイル
#
# お好みで設定を変えたあと "livealive2.ini" という名前で保存してください.
#
# ここで設定するのはデフォルトのオプションで, 多くのオプションは
# コマンドラインに渡すパラメータによって上書きする事ができます.
#

#------------------------------#
# 監視対象のクライアントの設定 #
#------------------------------#
[clients]

# クライアント設定がどこに保存されているか
#    xml   = XML ファイル
#    mysql = MySQL データベース
storage = xml

# クライアント設定の XML ファイルの名前
# storage を xml に設定した場合のみ有効
xmlfile = conf/clients.xml

# クライアント設定のテーブルの名前
# storage を mysql に設定した場合のみ有効
# DB への接続オプションは [database] セクションで設定されたものを利用する
tablename = m_clients

#------------#
# 監視の設定 #
#------------#
[monitor]

# 実況が開始しているかどうかを確認する間隔秒数
interval = 60

# クライアントごとに確認する時間をずらす秒数
delay = 5

#----------------#
# ログ関連の設定 #
#----------------#
[logging]

# ログファイル名 (空にすると出力しない)
filename = livealive.log

#--------------------#
# プラグイン用の設定 #
#--------------------#

# =================
# Reflec プラグイン
# =================
[reflec]

# Reflec のパス
#    相対パスにした場合は LiveAlive のディレクトリを基準にする.
reflec = reflec2.py

# Reflec を起動する際の引数
#    %(server)s = clients.xml の <client> に書かれた server 属性
#    %(client)s = clients.xml の <client> に書かれた address 属性
params = -p %(server)s %(client)s

# ====================
# Skype Bot プラグイン
# ====================
[skypebot]

# 作成するユーザーリストのファイル名
listfile = skype.dat

# サイレントモードにするかどうか (1=する/0=しない)
silentmode = 0

# 登録した時のメッセージ
msg_add = [%(user)s] を登録しました。

# すでに登録されていた時のメッセージ
msg_dup = [%(user)s] はすでに登録されています。

# 登録を解除した時のメッセージ
msg_del = [%(user)s] を解除しました。

# 存在しない登録を解除しようとした時のメッセージ
msg_none = [%(user)s] は登録されていません。

# 対応していないメッセージが送られてきた時
msg_res = こんにちは、%(name)sさん！<br>ゲ朗実の動画による実況が始まった事を Skype でお知らせできます。<br>私に「ADD」と話しかけると、あなたが通知リストに登録されます。<br>私に「DEL」と話しかけると、通知リストから解除されます。<br>どうぞ、ご利用ください！<br><br>（このメッセージは、自動応答です）
